[submodule "frp-widgets-banana"]
	path = frp-widgets-banana
	url = git@github.com:archaephyrryx/frp-widgets-banana
[submodule "futility"]
	path = futility
	url = git@github.com:archaephyrryx/futility
[submodule "frp-widgets-threepenny"]
	path = frp-widgets-threepenny
	url = git@github.com:archaephyrryx/frp-widgets-threepenny.git
